@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 2.2;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body{
  font-family:  "Poppins", sans-serif;;
  background-color: white;
}

.App {
    text-align: center;
  }
  
 
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: blue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color:black
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  body{
    background-color: #99E322
  }
  
  .superTitle{
    text-align:center;
    color:rosybrown
  }

  .section{
    margin-top:30px;
  }

  nav{
    background-color: #22FF88;
    display:flex;
    position: fixed;
    top: 0px;
    width: 100%;
    color:white;
    align-items: center;
  }
 /* h1,h3 {
    background-color:darkgreen;
    color: whitesmoke
  } */
  
  a {
    color:#00B080;
    margin-left: 1.2em;
  }

 
  a:hover{

    color:#77BBAA;
    font-size: 1.03em;
    margin-left:0.5em;
  }

  .iconspotify{
    margin-left :0.2em;
    color : olive;
      size: 20px;
  }

  .temas{
    font-size:0.8em;
    color:#54b42e;
  }

 .cart--podcast{
  color: palegreen;
  background-color:#227758;
  padding:0em;
  margin:15px;
  margin-bottom: 50px;
  border-radius: 2%;
 }
 .cartDetails{
  padding:1.3em
 }

 .readmore{
    font-size: 0.8em;
    font-style: oblique;
    margin-bottom: 0.5em;
 }
 .readmore:hover{
  font-size: 0.85em;
    margin-left:0.5em;
    color: #20B050

 }

 .nav-search{
    height:70px;
    
 }

 .lblSearch{
  font-size: 0.8em;
  margin: 1em;
 }
 .inpSearch{
  width:9.5em;
  background-color:lightgoldenrodyellow;
 }

 .spanTheme{
  display:inline;
//  text-align: center;
  font-size:0.7em;
  font-style: strong;
  color:tan;
  background-color: green;
  margin-left:10px;
      border-radius: 28%;
    padding-top: 1em;
    padding-bottom: 1em;
 }
 .podcastTitle{
    padding:0.8em;
    background-color: #66AA77;
   // border: solid, 6px;
   // border-color: black;
 }
 .allPodcasts{
  margin-left:zem;
 }


 .books-container{
  margin-left:1.5em;
 display: grid;
 gap:1.8em;
 grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

 }

 .book{
 
  background-color: #779944;
  border-radius: 4%;
  padding:0.5em;
  
 }
 .book a{
    color :green
 }
 .book .temas{
  color : darkgreen;
 }

 .title{
    padding-left:1.2em;
 }
 .explanation{
  padding-left:1.2em;
  font-size:0.8em;
 }

 .container-timer{
  align-items: center;
  padding:1.2em;
 }

 .btn{
  margin-top:2em;
  margin-left:auto;
  margin-right:auto;
  border-radius: 5%;
  height:35px;
  width:60px;

 }
 .clock{
  padding-top:0.7em;
  border-radius: 50%;
  height:150px;
  width:150px;
  background-color: green;
  color:palegoldenrod;
  font-size:3em;
  text-align: center;
  align-items:center;
 }